<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{- partial "head.html" . -}}
{{- partial "jmpa-head.html" . -}}
<body>
{{- partial "jmpa-nav.html" . -}}
{{- partial "jmpa-cart.html" . -}}

<div class="jmpa-content-gradient">
<div class="static-page">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <a class="static-cta" href="/">Return home</a>
</div>
</div>

<footer class="jmpa-footer"><div class="jmpa-footer-inner">&copy; {{ now.Year }} jmpa - by <a href="https://jcleal.me" target="_blank" rel="noopener noreferrer">Jordan Cleal</a></div></footer>
</body>
</html>
